/*
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-icore-rqs.dtsi"

/ {
	model = "Engicam i.CoreM6 Quad/Dual qseven SOM";
	compatible = "fsl,imx6-icore-rqs", "fsl,imx6q";
	
	aliases {
		mmc1 = &usdhc4;
		mmc0 = &usdhc3;
		mmc2 = &usdhc1;
	};
};

&ldb {
	ipu_id = <0>;
	sec_ipu_id = <0>;
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&can1 {
	status = "okay"; 
};

&can2 {
	status = "disabled";
};

&pcie {
	status = "okay";
};

&sata {
        fsl,transmit-level-mV = <1025>;
        fsl,transmit-boost-mdB = <3330>;
        fsl,transmit-atten-16ths = <9>;
        fsl,receive-eq-mdB = <3000>;
        status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&ssi1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

&usdhc1 {
	pinctrl-assert-gpios = <&gpio5 0 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&usdhc3 {
	cd-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
	status = "okay";
};


&usdhc4 {
	status = "okay";
};

&i2c2 {
	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};
};


&i2c3 {

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
		VDDD-supply = <&reg_1p8v>;
	};

};

&iomuxc {
	
	hog {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_EIM_WAIT__GPIO5_IO00 0x1f059 /*WIFI RESET*/
				MX6QDL_PAD_GPIO_1__GPIO1_IO01  0x1f059 /*CD SD CARD*/
			>;
		};
	};
};


