/*
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "imx6dl.dtsi"
#include "imx6qdl-icore.dtsi"

/ {
	model = "Engicam i.CoreM6 DualLite/Solo resistive openframe";
	compatible = "fsl,imx6-icore", "fsl,imx6dl";
};

&ldb {
	ipu_id = <0>;
	sec_ipu_id = <0>;
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

/* To be enabled for PCI peripheral.
   Please enable also the PCI support kernel options:
   CONFIG_PCI and PCI_IMX6
&pcie {
	status = "okay";
};
*/

&i2c1 {

	max11801@48 {
		compatible = "maxim,max11801";
		reg = <0x48>;
		interrupt-parent = <&gpio3>;
		interrupts = <31 2>;
		work-mode = <0>;/*DCM mode*/
	};

};

&i2c2 {

	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};

};


&i2c3 {

	codec: sgtl5000@0a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&clks 201>;
		VDDA-supply = <&reg_2p5v>;
		VDDIO-supply = <&reg_3p3v>;
		VDDD-supply = <&reg_1p8v>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lvds>;
	lvdsreset-delay = <30>;
	lvdsreset-pin = <&gpio6 0 GPIO_ACTIVE_LOW>;
	lvds {
		pinctrl_lvds: lvdsgrp {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00 0x1f059 // LVDS reset
			>;
		};
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog1>;
	pinctrl-assert-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	
	hog {
		pinctrl_hog1: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_2__GPIO1_IO02 0x1f059
				MX6QDL_PAD_EIM_D19__GPIO3_IO19 0x1f059 /* not used pin for ADV7180 driver compatibility */
			>;
		};
	};
};

&iomuxc {

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog2>;

	pinctrl-assert-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	
	hog {
		pinctrl_hog2: hoggrp {
			fsl,pins = <
				MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19 0x1f059
				MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18 0x1f059
				MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21 0x1f059
				MX6QDL_PAD_CSI0_DAT19__GPIO6_IO05 0x1f059
				MX6QDL_PAD_GPIO_2__GPIO1_IO02 0x1f059
			>;
		};
	};
};

